---
import Hr from "./Hr.astro";
import { SITE } from "@/config";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr noPadding />
  <div class="flex flex-col items-center justify-center py-6 sm:py-4">
    <span class="text-sm text-muted">
      © {new Date().getFullYear()} {SITE.title}. Alle rettigheder forbeholdes.
    </span>
  </div>
</footer>
